*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: #08070F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.center{
    display: flex;
    position: relative;
    background-color: none;
    align-items: center;
    justify-content: center;
    width: 510px;
    height: 610px;
}
#circles{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
}
.blue{
    background: rgb(43,63,158);
    background: linear-gradient(180deg, rgba(43,63,158,1) 0%, rgb(58, 143, 235) 100%);
    top: 0;
    left: 0;
}
.orange{
    background: rgb(252,87,55);
    background: linear-gradient(90deg, rgba(252,87,55,1) 0%, rgba(236,156,43,1) 100%);
    bottom: 0;
    right: 0;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.178);
    z-index: 5;
    padding: 30px;
    width: 270px;
    height: 340px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(10px);
}
.profilepic_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C5960;
    height: 138px;
    width: 138px;
    border-radius: 300px;
}
.profilepic{
    height: 110px;
    width: 110px;
    border-radius: 100px;
}
.displayName{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}
.description{
    color: rgba(255, 255, 255, 0.473);
    font-family: sans-serif;
    font-size: 17px;
    padding: 15px;
}
.socials{
    display: flex;
    justify-content: space-between;
    background-color: none;
    width: 205px;
}
#icon{
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.192);
    padding: 10px;
    border-radius: 30px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    background-color: none;
    width: 260px;
}
#btn{
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
    padding: 15px 30px 15px 30px;
    background-color: rgba(255, 255, 255, 0.315);
}